
.container-pic {
    position: fixed;
    width: 47vw;
    height: 90vh;
    margin-top: 5vh;
    margin: 20px 0px 0px 20px;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    &__pic {
        width: 100%;
    }
}